body{
    width: 100%;
    height: 100vh;
    background-image: url("../../../../image/admin/adminlogin_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background_image{
    width: 380px;
    height: auto;
    background-color: var(--login-form-color);
    border-radius: 20px;
}
.bg_container{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container form{ 
    padding: 20px 30px;
}
.title{
    text-align: center;
    color: white;
    padding-bottom: 30px;
}
.admin_login{
    align-items: center;
}
.admin_login .input,.password_container .input{
    border: none;
    border-radius: 6px;
    background-color: #fefefe4d;
    margin: 10px 0px;
    height: 30px;
    /* width: 270px; */
    color: var(--secondary-color);
    display: block;
}

.password_container{
    position: relative;
}

.hide_password , .show_password{
    position: absolute;
    right: 10px;
    top: 15px;

}

/* span{
    margin: 0;
    padding: 0;
    display: block;
} */
.login_btn{
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--login-form-color) !important;
    background-color: var(--login-btn-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.login_btn:hover{
    color: #35555e !important;
}

.error_msg{
    color: red;
}
.hide_password{
    display: block;
}
.show_password{
    display: none;
}
@media (max-width:767px) and (min-width:320px) {
    /* .background_image{
        width: 51%;
    } */
    .background_image {
        width: 295px;
        height: auto;
        background-color: #06425766;
        border-radius: 20px;
    }
}
