.session1{
    justify-content: space-between;
}
.session1 >a{
    background-color: var(--box-blue-color);
    color: var(--secondary-color);
    padding:10px;
    border-radius: 6px;
}
.session2{
    padding: 30px 15px;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: var(--secondary-color);
}
.session2 > .grid{
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    align-items: end;
}
.session2 .grid input,.session2 .grid select{
    color: var(--text-gray-color);
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.session2 .grid .buttons{
    justify-content: space-around;
}
.session2 .grid .buttons >button{
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    color: var(--secondary-color);
}
.filter_button{
    background-color: var(--box-blue-color);
}
.reset_button{
    background-color: var(--text-title-gray-color);
}
.sizes{
    justify-content: center;
}
.product_image{
    align-items: center;
    padding: 5px 0px 5px 20px;
}
.qty_box
{
    border: 1px solid #6DD4B1;
    background-color: #6DD4B1;
    color: var(--secondary-color);
    padding:  3px 10px;
    border-radius: 20px;
}
.qty_box p{
    margin: 0;
    padding: 0;
}
.product_details tr{
    background-color: #fff;
    text-align: left;
}
.session4,.session5{
    display: none;
    width: 100%;

}
.session4 table tr td{
    font-size:12px;
    text-align: left;
}
.session4 table tr td a,.session5 table tr td a{
    font-size:10px;
    padding: 0px !important;

}

@media (max-width:1300px) and (min-width:768px){
    .main .session2 .grid{
        grid-template-columns: repeat(3,1fr);
    }
    .session3{
        display: none;
    }
    .session4{
        display: inline-block;
    }
    .session5{
        display: none;
    }
}

@media (max-width:767px) and (min-width:320px){
    .main .session2 .grid{
        grid-template-columns: 1fr;
    }
    .session3{
        display: none;
    }
    .session4{
        display: none;
    }
    .session5{
        display: inline-block;
    }
    .session5 table tr th{
        font-size:13px;
    }
    .session5 table tr td{
        font-size:12px;
        text-align: left;
    }
}