.add_to_cart .pick_item{
    color:#fff;
}
.add_to_cart .pick_item:hover{
    color:#0079FF;
}
.sizes{
    line-height: 30px;
}
.section2{
    margin:30px 200px;
    padding: 30px;
    /* padding: 0px 100px; */
    gap: 50px;
    border: 1px solid var(--fourth_color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    border-radius: 10px;
}
.section2 >div:first-child img{
    /* padding: 100px; */
    width: 300px;
    height: auto;
}
.section2 >div:last-child{
    font-size: 20px;
}
.color_sample{
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
}
.section2 >div:last-child .title{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}
.section2 >div:last-child .price{
    font-weight: bold;
}
.section2 div .size_button button{
    padding: 10px 15px;
    background-color: var(--fourth_color);
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.section2 div .size_button button:hover{
    border: 1px solid var(--primary-color);
}
.section2 .flex_row .reviewNumber{
    margin: 0px;
    padding-left: 50px;
}
.section2 .add_to_cart{
    align-items: end;
}
.section2 .add_to_cart .button2{
    margin: 0;
    margin-right: 30px;
}
.section2 .add_to_cart .free_deli{
    font-size: 16px;
}
.recommend{
    margin: 30px 100px;
}
.recommend h1{
    text-align: center;
}
.recommend .recommend_list{
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
}
.recommend_list a div >img{
    width: 100%;
    height: 350px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.delivery_text{
    align-items: center;
}
@media (max-width:1200px) and (min-width:768px){
    .section2
    {
        /* display: inline-block; */
        margin: 20px 50px;
    }

    .section2 >div:first-child img {
    /* padding: 100px; */
        width: 200px;
        height: auto;
    }
    .section2 >div:last-child{
        font-size: 18px;
        font-weight: normal;
    }
    .section2 >div:last-child .title{
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }
    .section2 >div:last-child .price{
        font-weight: bold;
    }
    .section2 .text .description{
        font-size: 15px;
    }
    .section2 div .size_button button{
        padding: 8px 5px;
        background-color: var(--fourth_color);
        border: none;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .section2 .add_to_cart .button2{
        padding: 8px 20px;
        font-size: 15px;
    }
    .review{
        flex-direction: column;
    }
    .section2 .review div .reviewNumber{
        padding-left: 0px !important;
    }
    .recommend{
        margin: 20px 50px;
    }
    .recommend .recommend_list{
        grid-template-columns: repeat(3,1fr);
    }
    .recommend_list a div >img{
        height: 300px;
    }
    .free_deli{
        font-size: 12px;
    }
}
@media (max-width:767px) and (min-width:320px){
    .section2
    {
        /* display: inline-block; */
        margin: 20px 30px;
        flex-direction: column;
    }

    .section2 >div:first-child img {
    /* padding: 100px; */
        width: 200px;
        height: auto;
    }
    .section2 >div:last-child{
        font-size: 18px;
        font-weight: normal;

    }
    .section2 >div:last-child .title{
        margin: 0;
        font-weight: bold;
        font-size: 20px;
    }
    .section2 >div:last-child .price{
        font-weight: bold;
    }
    .section2 .text .sizes{
        /* flex-direction: column; */
        gap: 0px;
        font-size: 15px;
        display: none;
    }
    .section2 .text .description{
        font-size: 15px;
    }
    .section2 div .size_button button{
        padding: 8px 5px;
        background-color: var(--fourth_color);
        border: none;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .section2 .add_to_cart .button2{
        padding: 8px 20px;
        font-size: 15px;
    }
    .review{
        flex-direction: column;
    }
    .section2 .review div .reviewNumber{
        padding-left: 0px !important;
    }
    .recommend{
        margin: 20px 30px;
    }
    .recommend .recommend_list{
        grid-template-columns: 1fr;
    }
    .recommend_list a div >img{
        height: 300px;
    }
    .free_deli{
        font-size: 12px;
    }
}