body{
    background-color: var(--fifth-color);
}
.section1{
    background-color: var(--fifth-color) !important;

}
.input{
    background-color: var(--third-color);
    height: 50px;
    font-size: 16px;
    padding-left: 30px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none;
}
.intro_session{
    padding: 0;
    margin: 0;
    background-image: url(/image/customer/shirt-mockup-concept-with-plain-clothing\ \(2\).jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}
.filter .link a:last-child{
    font-weight: bold;
}
.filter .link a:last-child:hover{
    text-decoration: underline;
}
.filter{
    margin: 20px 100px;
}
.filter .flex_row{
    justify-content: space-between;
    gap: 30px;
    align-items: baseline;
}
.filter .search{
    position: relative;
}
.filter .search input{
    width: 500px;
}
.filter .search > button{
    position: absolute;
    border: 0px;
    background-color: #fff;
    right: 20px;
    top: 25px;
}
.filter .search > button i{
    font-size: 20px;
}
.filter .flex_row .icon >img{
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}
.filter .flex_row .icon >i{
    font-size: 30px;
    cursor: pointer;
}
.filter_btn{
    padding: 10px;
    border: none;
    background-color: var(--fourth-color);
    transition: 0.3s;
}
.filter_btn :hover{
    /* border: 1px solid burlywood; */
    cursor: pointer;
}
/* .products_list{
    grid-template-columns: repeat(4,auto);
} */
@media (max-width:1200px) and (min-width:768px)
{
    .intro_session{
        height: 300px;
    }
    .filter{
        margin: 20px 50px;
    }
    .filter .flex_row{
        flex-direction: column;
        gap: 0px;
    }
    .input{
        height: 35px;
    }
    .filter .flex_row .sort_by{
        flex-direction: row;
        gap: 20px;
    }
    .filter .flex_row .sort_by .icon{
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width:767px) and (min-width:320px)
{
    .intro_session{
        height: 300px;
    }
    .filter{
        margin: 20px 30px;
    }
    .filter .search input{
        max-width: 220px;
    }
    .filter .flex_row{
        flex-direction: column;
        gap: 0px;
    }
    .filter .flex_row .sort_by{
        flex-direction: column;
        gap: 0px;
    }
    .filter .flex_row .sort_by .icon{
        flex-direction: row;
        gap: 20px;
    }
}