.container{
    background-color: var(--secondary-color);
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;height: 100vh;
}
.text>p,.text form p >a{
    color: var(--button_blue_color);
}
.text form p >a:hover{
    text-decoration: underline;
}
.text .flex_row{
    justify-content: center;
}
.text form{
    background-color: var(--third-color);
    padding: 20px 0px;
    width: 400px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.text form input{
    height: 50px;
    font-size: 20px;
    padding-left: 30px;
    margin: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--fourth_color);
}
.container .text form .login_button{
    display: inline-block;
    color: var(--third-color);
    margin-top: 20px;
}
.container .text form .login_button:hover{
    color: var(--button_blue_color);
}
.image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/image/customer/Background-image.png);
}
.password_container{
    position: relative;
}
.password_container span{
    position: absolute;
    margin: 0;padding: 0;
    right: 80px;
    top: 25px;
}
.hide_password{
    display: block;
}
.show_password{
    display: none;
}
@media (max-width:1200px) and (min-width:768px){
    .container{
        grid-template-columns: 1fr;
    }
    .container .image{
        display: none;
    }
    .container .text{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: url(/image/customer/Background-image.png);
    }
    .container .text .text_white{
        color: white;
        text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
    }
}
@media (max-width:767px) and (min-width:320px){
    .container{
        grid-template-columns: 1fr;
    }
    .container .image{
        display: none;
    }
    .container .text{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-image: url(/image/customer/Background-image.png);
    }
    .container .text .text_white{
        color: white;
        text-shadow: 1px 1px 2px grey, 0 0 1em black, 0 0 0.2em black;
    }
    .text form{
        background-color: rgba(255, 255, 255, 0.679);
        padding: 20px 0px;
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}