td{
    text-align: left;
    padding-left: 20px;
}
.session1{
    padding: 30px 15px;
    border-radius: 10px;
    margin: 10px 0px;
    background-color: var(--secondary-color);
}
.session1 .grid{
    gap: 20px;
}
.session1 .grid input{
    border-radius: 6px;
    width: 100%;
    height: 30px;
    color: var(--text-gray-color);
    background-color: #dfeafd81;
    border: 1px solid var(--border-gray-color);
}
.session1 .grid .flex_row .button{
    padding: 10px 30px; 
    border-radius: 6px;
    width: 100%;
    border: none;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--box-blue-color);
}
.session1 .grid .flex_row .reset_button{
    background-color: var(--text-title-gray-color);    
}
.Pagination{
    margin-left: 100px;
    margin-right: 100px;
    display:flex;
    justify-content: right;
}
.Pagination ul
 {
    display: flex;
    gap: 10px;
    font-size: 16px;
    list-style-type: none;
 }
 .Pagination li {

    padding:10px 15px;
    box-shadow: 0 1px 5px 0 rgba(75, 75, 75, 0.19);
    border-radius: 5px solid rgb(218, 218, 218);
    background-color: #ffffff;
 }
 /* model box */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.264); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin: auto;
    padding: 10px 50px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .update_status{
    margin: 20px 0px;
    height: 30px;
    border-radius: 5px;
  }
  .editStatusBtn,.deleteBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  .editStatusBtn:hover,.deleteBtn:hover{
    color: white;
    padding: 5px 6px;
    border-radius: 3px;
    background-color: var(--box-blue-color);
  }
  .change_button{
    margin: 20px 0px 30px 0px;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: var(--box-blue-color);
  }
  @media (max-width:1300px) and (min-width:768px)
  {
    .address,.phone{
      display: none;
    }
    .Pagination{
      margin: 0;
  }
  }
@media (max-width:767px) and (min-width:320px){
    .main .session1 .grid{
        grid-template-columns: 1fr !important;
    }
    table{
        font-size: 12px;
    }
    .address,.phone,.email{
      display: none;
    }
    .session1 .grid input
    {
      width: 93%;
    }
    .Pagination{
      margin: 0;
  }
  .Pagination li {
      padding: 7px 10px;
  }
  .Pagination ul{
      font-size: 12px;
      gap:5px;
  }
}

